<%-include('partials/header.ejs')%>
		
		
		<div class='container mt-5'>
			
			<div class='row'>
				<% founddishes.forEach((item)=>{ %>
				<div class='card'>
					<a href='/dishes/<%=item._id%>'><img class='card-img card-img-top' src=<%=item.image%> alt=<%=item.name_of_dish%>></a>
					<h3 class='card-title mt-1'><%=item.name_of_dish%></h3>
					<p class='card-text mb-2'><%=item.description%></p>
				</div>
				<% }); %>
			</div>
			
		</div>
		
	

<%-include('partials/footer.ejs')%>