<%-include('partials/header')%>
<div class='container mt-5'>
	<h1>
		Edit comment
	</h1>
	<form action='/dishes/<%=dish_id%>/comments/<%=foundComment._id%>/edit?_method=PUT' method='POST'>
		<div class='form-group'>
			<label for='username' class='m-2'>Username</label>
			<input type='text' name='username' id='username' class='form-control' value=<%=foundComment.user%>>
		</div>
		<div>
			<label for='comment' class='m-2'>comment</label>
			<textarea type='text' name='comment' id='comment' rows='8' cols='30' class='form-control'><%=foundComment.text%></textarea>	
		</div>
		
		<button type='submit' class='btn btn-primary mt-3'>Edit comment</button>
	</form> 
</div>

<%-include('partials/footer')%>